@import "~@ukmjkim/aid-ux-components/scss/colors";
@import "~@ukmjkim/aid-ux-components/scss/breakpoints";

$almost-white: #f9f9f9;

::ng-deep .mat-sort-header-container {
  height: 36px;
  padding-left: 8px;
}

.page-title-issues {
  color: #e2411b;
}

.row-count {
  display: inline-block;
  width: 160px;
}

.toolbar {
  text-align: right;
}

.mat-row:hover {
  background-color: $almost-white;
}

.filter-header {
  background-color: #ababab;
  padding: 5px;
  font-size: 12px;
}

.filter-header .mat-input-wrapper {
  padding-bottom: 0;
}

.filter-header .mat-form-field-infix {
  padding: 10px 0 10px 0;
  border: 0px;
}

.filter-header .mat-input-underline {
  display: none !important;
}

.filter-header button:focus {
  outline: none;
}

.filter-header .mat-button {
  margin: 0;
  padding: 0;
  line-height: 32px;
  width: 100%;
}

.shootPriceSliderContainer {
  width: 180px;
  margin: 20px 40px 20px 40px;
}

.shootPriceButton .mat-select-arrow {
  position: relative;
  top: 9px;
}

mat-row mat-cell {
  margin-left: 2px;
}

.footer {
  width: 100%;
  z-index: 210;
  position: fixed;
  bottom: 0;
  right: 0;
}

.mat-paginator {
  background-color: #efefef;
}

.no-sort-header {
  display: block;
  padding-bottom: 18px;
}

.filter-header .mat-form-field,
.filter-header .shootPriceButton {
  margin-bottom: 1px;
}

.toggle-advanced-search {
  color: #0072c2 !important;
  background: #fff;
  padding: 4px;
  display: inline-block;
  border-radius: 32px;
  height: 32px;
  width: 32px;
  cursor: pointer;
  margin-right: 5px;
}

.thumbnail-view-button {
  color: #0072c2 !important;
  background: #fff;
  padding: 4px;
  display: inline-block;
  border-radius: 32px;
  height: 32px;
  width: 32px;
  cursor: pointer;
  margin-right: 5px;
}

mars-data-table-column-selector {
  cursor: pointer;

  mat-icon {
    color: #0072c2 !important;
  }
}

.selection-text {
  padding-bottom: 5px;
  font-size: 14px;
}

.data-table--header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-areas: "title toolbar" "search search";
  grid-gap: 10px;
  margin-bottom: 10px;
  align-items: center;

  @include breakpoint(m) {
    grid-template-areas: "title search toolbar";
  }
}

.header--title {
  grid-area: title;
}

.header--search {
  grid-area: search;

  @include breakpoint(m) {
    width: 350px;
  }
}

.header--toolbard {
  grid-area: toolbar;
}

.form-control-search-box {
  font-weight: normal;
  font-size: 13px;
  border: 1px solid #ced4da;
}

.s-voided {
  text-decoration: line-through;
}

.text-overflow-effect {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
