
<div class="card m-3">
    <h5 class="card-header">Assign Work Hours to Work Shift</h5>
    <div class="card-body">
        <form [formGroup]="registerForm">
            <div class="form-row">
                <div class="form-group col-6">
                    <label>Shift Name</label>
                    <input type="text" [value]="data.contentDataItemDto.shiftName" class="form-control" [readOnly]="true" />
                </div>
                <div class="form-group col-6">
                    <label>Work Date</label>
                    <input type="text" [value]="data.contentDataItemDto.workDate" class="form-control" [readOnly]="true" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <label>Dryshop Manager</label>
                    <input type="text" [value]="data.contentDataItemDto.keyDryshopManager" class="form-control" [readOnly]="true" />
                </div>
                <div class="form-group col-6">
                    <label>Production Supervisor</label>
                    <input type="text" [value]="data.contentDataItemDto.keyProductionSupervisor" class="form-control" [readOnly]="true" />
                </div>
            </div>

            <div class="form-row mt-2">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col-1">#</th>
                    <th scope="col-4">First</th>
                    <th scope="col-4">Last</th>
                    <th scope="col-2">Work Hours</th>
                    <th scope="col-1">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let workHour of workHourList">
                    <th scope="row">{{workHour.id}}</th>
                    <td>{{workHour.employee.firstName}}</td>
                    <td>{{workHour.employee.lastName}}</td>
                    <td>{{workHour.workedHours}}</td>
                    <td class="cursor-pointer"><mat-icon matTooltip="Delete Work Hours" (click)="onDeleteWorkHours(workHour.id)">delete</mat-icon></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="form-row">
                <div class="form-group col-9">
                    <label>Workers</label>
                    <mat-form-field>
                      <mat-select [formControl]="workers" multiple>
                        <mat-option *ngFor="let employee of employeeList" [value]="employee" (onSelectionChange)="assignWorker($event)">{{ContentDataItemDto.getKeyEmployee(employee, dateFormatPipe)}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-group col-2">
                    <label>Work Hours</label>
                    <input type="text" formControlName="workedHours" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.workedHours.errors }" />
                    <div *ngIf="submitted && f.workedHours.errors" class="invalid-feedback">
                        <div *ngIf="f.workedHours.errors.required">Shift Name is required</div>
                    </div>
                </div>
                <div class="form-group col-1">
                    <button type="button" class="btn btn-primary mt-4" (click)="onAddWorkHours()">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>
