@import "~@ukmjkim/aid-ux-components/scss/colors";
@import "~@ukmjkim/aid-ux-components/scss/breakpoints";

.two-page-cards {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-gap:20px;
}


.dashboard--statuses-contract {
    display: grid;
    grid-template-columns: 1.6fr minmax(200px, 1.2fr);
    grid-template-areas: "chart statuses";
    grid-gap:10px;
}

.statuses--contract-chart{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "chartcontainer";
  justify-items: center;
  align-items: stretch;
  justify-self: center;
}

.statuses--chart-item {
  grid-area: chartcontainer;
  max-width: 420px;
  padding: 30px;
  height: 100%;
}

.statuses--contract-count {
  position: relative;
  z-index: 10;
  text-align: center;
  user-select: none;
  cursor: pointer;
  grid-area: chartcontainer;
  align-self: center;
}

.pills-two-lines {
  display: grid;
  grid-template-columns: 0.6fr;
  grid-template-rows: auto auto;
}

.contract-budget-grid {
  border-bottom: 1px solid palette(grey,2);
  padding: 0px;
  font-weight: 700;
  color: palette(grey);
}

.contract-budget-detail-grid {
  display: grid;
  grid-template-columns: 1.6fr minmax(200px, 1.2fr);
  grid-template-rows: auto auto;
  padding: 5px 0px;
}
