<aid-page-simple class="page-simple" [fullWidth]="true" [pageTitle]="'Contracts'"
    *ngIf="appMainState">
    <ng-container ngProjectAs="headerActionButton">
        <div class="text-right">
            <!-- <button id="create-sale-order" class="btn btn-primary mb-1" (click)="addSalesOrder()" [disabled]="!isWritable()">Add Sales Order</button> -->
        </div>
    </ng-container>
    <div class="card-body" *ngIf="appMainState">
        <aid-employee-search *ngIf="appMainState" id="{{id}}-sale-order-table" [appMainState]="appMainState" [enableRowCheckbox]="true"
            [enableRowAction]="true" (selectedRows)="onSelected($event)">
            <div id="action-area" class="action-area mt-2" *ngIf="selectedItemList && selectedItemList.length > 0">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="row" fxLayoutAlign="start center" id="action-buttons">
                        <div>
                          <button id="cost-bulk-print" class="btn btn-outline-primary mr-2" (click)="openSellerCostPrintForm()">
                            <span>Print Cost Sheet</span>
                          </button>
                        </div>
                    </div>
                </div>
            </div>
        </aid-employee-search>
    </div>
</aid-page-simple>
