<aid-page-simple class="page-simple" [fullWidth]="true" [pageTitle]="pageTitle" [pageInfo]="pageInfo"
    *ngIf="appMainState">
    <ng-container ngProjectAs="headerActionButton">
        <!-- <div class="text-right">
            <button id="add-new-item" class="btn btn-primary mb-1 add-button" (click)="addContentData()" [disabled]="!isWritable()">Add</button>
        </div> -->
    </ng-container>
    <div class="row">
      <div class="col-6">
        <aid-content-dashboard-release-order id="content-dashboard-release-order">
        </aid-content-dashboard-release-order>
      </div>
      <div class="col-6">
        <aid-content-dashboard-testing-coa-log id="content-dashboard-testing-coa-log">
        </aid-content-dashboard-testing-coa-log>
      </div>
    </div>

</aid-page-simple>
