
.noUi-connect {
    background: #1b69a3;
  }

  .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
  .mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
    background-color: #1b69a3;
  }

  //MATERIAL CHIP COLOR
  .mat-chip.mat-primary,
  .mat-chip.mat-chip-selected.mat-primary {
    background-color: #0072C2;
    color: #fff;
    line-height: 16px;
  }

  .mat-chip.mat-primary .mat-chip-remove,
  .mat-chip.mat-chip-selected.mat-primary .mat-chip-remove {
    color: #fff;
    opacity: 0.8;
  }

  .mat-icon.size-16 {
    font-size: 16px;
    height: 16px;
    width: 16px;
  }


  //FIX ALIGNMENT OF MATERIAL CHECKBOX
  .selection-column .mat-checkbox-layout{
    margin-bottom: 0;
  }

  .mat-sort-header-button {
    border: none;
    background: 0 0;
    align-items: center;
    padding: 0;
    cursor: inherit;
    outline: 0;
    font: inherit;
    color: currentColor;

    max-width: 100%;
    display: flex;
    align-items: center;
    justify-self: left;
  }

  .data-table-header-cell .mat-sort-header-arrow{
    opacity: 0 !important;
    margin-right: 3px !important;

    &.mat-sort-header-sorted{
      opacity: 1 !important;
    }
  }
