
<div class="card m-3">
    <h5 class="card-header">{{dialogLabel}}</h5>
    <div class="card-body">
        <form [formGroup]="registerForm">
            <div class="form-row">
<!--                <div class="form-group col-6">
                    <label>Customer</label>
                    <select formControlName="customer" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.customer.errors }">
                        <option [value]=''></option>
                        <option *ngFor="let customer of customerList" [value]="customer.id">{{ContentDataItemDto.getKeyCustomer(customer, dateFormatPipe)}}</option>
                    </select>
                    <div *ngIf="submitted && f.customer.errors" class="invalid-feedback">
                        <div *ngIf="f.customer.errors.required">Customer is required</div>
                    </div>
                </div>-->
                <div class="form-group col-12">
                    <label>Farm Name</label>
                    <input type="text" formControlName="farmName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.farmName.errors }" />
                    <div *ngIf="submitted && f.farmName.errors" class="invalid-feedback">
                        <div *ngIf="f.farmName.errors.required">Farm Name is required</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <label>ODA License Number</label>
                    <input type="text" formControlName="odaLicenseNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.odaLicenseNumber.errors }" />
                    <div *ngIf="submitted && f.odaLicenseNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.odaLicenseNumber.errors.required">ODA License Number is required</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>Account Number</label>
                    <input type="text" formControlName="accountNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.accountNumber.errors }" />
                    <div *ngIf="submitted && f.accountNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.accountNumber.errors.required">Account Number is required</div>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button class="btn btn-primary mr-1" (click)="onSubmit()">Submit</button>
                <button class="btn btn-warning mr-1" type="button" (click)="onDelete()" *ngIf="!isNew" [disabled]="true">Delete</button>
                <button class="btn btn-secondary mr-1" type="reset" (click)="onReset()">Clear</button>
                <button class="btn btn-secondary" type="close" (click)="onClose()">Close</button>
            </div>
        </form>
    </div>
</div>
