
<div class="card m-3">
    <h5 class="card-header">{{dialogLabel}}</h5>
    <div class="card-body">
        <form [formGroup]="registerForm">
            <div class="form-row">
                <div class="form-group col-12">
                    <label>Name</label>
                    <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">Name is required</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <label>Active</label>
                    <div class="input-value">
                      <div class="switch-field">
                          <input type="radio" id="is-active-yes" formControlName="isActive" class="form-control" [value]="true" name="isActive" />
                          <label for="is-active-yes">Yes</label>
                          <input type="radio" id="is-active-no" formControlName="isActive" class="form-control" [value]="false" name="isActive" />
                          <label for="is-active-no">No</label>
                      </div>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button class="btn btn-primary mr-1" (click)="onSubmit()">Submit</button>
                <button class="btn btn-warning mr-1" type="button" (click)="onDelete()" *ngIf="!isNew" [disabled]="true">Delete</button>
                <button class="btn btn-secondary mr-1" type="reset" (click)="onReset()">Clear</button>
                <button class="btn btn-secondary" type="close" (click)="onClose()">Close</button>
            </div>
        </form>
    </div>
</div>
